<h2>Welcome, {{authentication.loggedInUser?.username}}</h2>

<div class="row">
	<div class="col-xs-3"><h3>Current balance:</h3></div>
	<div class="col-xs-9"><h3>{{account?.balance | currency:'USD':true}}</h3></div>
</div>
<div class="row">
	<div class="col-xs-3">
		<button class="btn btn-default" (click)="startWithdrawal()">
			<span [ngSwitch]="account?.balance > 0">
				<span *ngSwitchWhen="true">Make a withdrawal</span>
				<span *ngSwitchDefault>Request a loan</span>
			</span>
		</button>
	</div>
	<div class="col-xs-9">
		<button class="btn btn-default" (click)="startDeposit()">Make a deposit</button>
	</div>
</div>